html {
    background: linear-gradient(#999, #fff);
    height: 100vh;
}

body {
    font-family:sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: #444;
    background: #fff;
    padding: 15px;
    height: 100vh;
}

p {
    margin: 0 0 15px 0;
    font-family: serif;
}